body {
    background-color: #d2d2d2;
}

@media print {
    body {
        background-color: #d2d2d2;
    }
}

#fileLoader {
    padding: 5px;
}

.multiColumn {
    column-count: 1;
    column-fill: balance-all;
}

.chessBoard {
    -webkit-column-break-inside: avoid;
    width: 220px; /* 180px if displaying qrCode, 220px if not */
}

pre {
    -webkit-column-break-inside: avoid;
    margin: 0;
}

.qrCode {
    -webkit-column-break-inside: avoid;
    margin-top: 1px;
    display: none; /* Comment out to display qrCode */
}

.dynamicTable {
    -webkit-column-break-inside: avoid;
}
